[Unit]
Description=zabbix-agent
Requires=docker.service
After=docker.service
EnvironmentFile=/etc/default/zabbix-agent

[Service]
ExecStartPre=-/usr/bin/docker kill zabbix-agent
ExecStartPre=-/usr/bin/docker rm zabbix-agent
ExecStartPre=/usr/bin/docker pull bhuisgen/docker-zabbix-coreos:latest
ExecStart=/usr/bin/docker run --name zabbix-agent -p 10050:10050 -v /proc:/coreos/proc:ro -v /sys:/coreos/sys:ro -v /dev:/coreos/dev:ro -v /var/run/docker.sock:/coreos/var/run/docker.sock --restart=always bhuisgen/docker-zabbix-coreos:latest 1.2.3.4 mycluster myhost
ExecStop=/usr/bin/docker stop zabbix-agent
TimeoutStartSec=300
